.header{
  padding:20px 0px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 2px rgba(0,0,0,.24);
  margin-bottom:50px;
  background:white;
  position:sticky;
  top:0;
  z-index:100;
}

.logged_in{
  display:none;
}

.header_container{
  display:grid;
  grid-template-columns:1fr 300px;
  align-items:center;

  width:80%;
  margin:0px auto;

  img{
    height:100px;
  }

  .nav{
    display:none;
    justify-self:right;

    li{
      list-style:none;
      display:inline-block;
      margin-left:20px;
    }

    a{
      padding:20px;
      text-decoration: none;
      color:black;
      font-size:20px;

      &:last-of-type{
        padding-right:0px;
      }

      &:hover{
        font-weight:bold;
      }
    }
  }

  .bars{
    display:block;
    justify-self:right;

    .bar{
      height:3px;
      width:30px;
      margin:5px;
      background:black;
    }

    &:hover{
      cursor: pointer;
    }
  }
}

.mobile_nav{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:-1;
  text-align:center;
  background: #fcfcfc;
  padding-top:110px;

  opacity:0;
  transition: opacity .3s;

  li{
    list-style:none;
    display:block;
    margin:50px 0px ;
  }

  a{
    padding:20px;
    text-decoration: none;
    color:black;
    font-size:20px; 

    &:hover{
      font-weight:bold;
    }
  }
}


@media only screen and (min-width: 1000px) {
  .header_container{
    display:grid;
    grid-template-columns:1fr 2fr;

    .mobile_nav{
      display:none;
    }

    .nav{
      display:block;
    }

    .bars{
      display:none;
    }
  }
}