<div class="header">
  <div class="header_container">
    <div class="header_logo">
      <p>Stephen Bevis</p>
      <h2>Angular Client Manager</h2>
    </div>

    <div class="nav">
      <ul class="">
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/about">Logout</a></li>
      </ul>

      <ul class="logged_in">
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>

    <div class="bars" (click)="openMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>

<div id="mobile_nav" class="mobile_nav">
  <ul class="logged_in">
    <li><a routerLink="/" (click)="closeMenu()">Dashboard</a></li>
    <li><a routerLink="/about" (click)="closeMenu()">Logout</a></li>
  </ul>

  <ul class="">
    <li><a routerLink="/register" (click)="closeMenu()">Register</a></li>
    <li><a routerLink="/login" (click)="closeMenu()">Login</a></li>
  </ul>
</div>